<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Classroom Library</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/books.png"
    />


    <!--<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />-->

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <html data-theme="cupcake"></html>

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="https://res.cloudinary.com/dgudt0rnn/image/upload/v1673663115/imgs%20for%20bagdes%20/suad-kamardeen-8PyNdtGL4Bg-unsplash_t0yd9c.jpg" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">About Us!</h1>
        <p class="py-6">This application is made for teachers by a teacher. Classroom Library App is an app that makes managing your classroom library easier! Students can self checkout books, and place books on hold. They earn badges as they read, and track reading goals. Teachers can manage their classroom library inventory and track who has which books. Let this technology make your classroom library more equitable for all students.</p>
        <a href="/" class="btn btn-primary">Get Started</a>
      </div>
    </div>
  </div>
  <%- include('partials/footer') -%>

