<%- include('partials/header') -%>
<!--only users with the assigned role of teacher can Add a Book-->

<%if(user.role == "Teacher"){ %>


  <div class="mt-5">
    <h2>Add a Book</h2>
    <form action="/book/createBook" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="input input-bordered w-full max-w-xs" id="title" name="title">
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <textarea class="input input-bordered w-full max-w-xs" id="author" name="author"></textarea>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Image</label>
        <input type="file"  id="imageUpload" name="file">
      </div>
      <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900"  value="Upload">Submit</button>
    </form>
  </div>

  <!--end of role===teacher only section-->
  <a class="btn btn-primary" href="/feed">Look for More Books</a>


    <%}%>

</div>
<%- include('partials/footer') -%>