<%- include('partials/header') -%>
<!--only users with the assigned role of teacher can Add a Book-->

<%if(user.role == "Teacher"){ %>
  <div class="hero min-h-screen bg-base-200">
    <!--errors for ISBN didn't work, please enter manuall-->

   <!-- <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %> --> 
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
          <div class="form-control">
    <h2 class="text-3xl font-bold">Add Book</h2>

    <form action="/book/createBook" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="title" class="form-label"></label>
          <input type="text" class="input input-bordered w-full max-w-xs" id="title" name="title" placeholder="Title"></input>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label"></label>
        <input class="input input-bordered w-full max-w-xs" id="author" name="author" placeholder="Author"></input>
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label">Book Cover</label>
        <input type="file"  id="imageUpload" name="file" >
      </div>
      <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900"  value="Upload">Submit</button>
    </form>

  </div>
  <!--You can do it the same way you would POST data from a frontend, just GET the data from xyz API instead and form it into the structure your DB expects
-->
<br> 
  <h2 class="text-3xl font-bold">Add Book By ISBN</h2>
  <section>		
    <form action="/book/createBookByISBN" enctype="multipart/form-data" method="POST">
      <div class="mb-3">
          <label for="isbn" class="form-label"></label>
          <input type="text" class="input input-bordered w-full max-w-xs" id="isbn" name="isbn" placeholder="ISBN"></input>
      </div>
      <button type="submit" class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900"  value="Upload">Submit</button>
    </form>
</section>
  <!--end of role===teacher only section--><br>
  <a class="btn btn-primary" href="/feed">Go to Bookshelf</a>


    <%}%>
  </div>
</div>
</div></div>
</div>


<%- include('partials/footer') -%>