<%- include('partials/header') -%>

<!--GOAL: CREATE SEARCH BAR FOR STUDENTS TO SEARCH FOR BOOKS IN  THE DATABASE USING TITLE OR AUTHOR-->


<div class="bg-white">

  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">



    <!--if book title or author equals whats in the search bar, then display it below-->
<div class="">
  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <% for(var i=0; i<books.length; i++) {%>
            <a href="/book/<%= books[i]._id%>">
              <img class="h-full w-full object-cover object-center group-hover:opacity-75" src="<%= books[i].image%>">
            </a>
        <% } %>
    </div>
  </div>  
  
</div>
<!--Want to add a button for teachers to add books to the shelf from the feed -->
<% if (userme.role==="Teacher"){%>          
  <a class="btn btn-primary" href="/addabook">Add Books to the Shelf</a>
<%}%>
</div>


      </div>
    </div>
  </div>  


<%- include('partials/footer') -%>
